.containerMovie {
    width: 200px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border: 1px solid #ffffff18;
    border-radius: 5px;
}

.containerMovie img {
    height: 300px;
    border-radius: 5px 5px 0 0;
}

.description {
    padding: 10px;
}

.description p {
    margin-bottom: 10px;
}

